<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" data-goodsid="86928" data-goodsno="77770209" data-storeid="1031" class="back"></a>
    <h2>双十二整点秒杀5折</h2>
</header>

<div class="nwrapper">
    <img src="images/activity1112/activity1112_01.jpg" class="activity_top">

    <div class="activity_msg">
        <ul>
            <li><img src="images/activity1112/activity1112_02(1).jpg" class="activity_group"></li>
            <li><img src="images/activity1112/activity1112_02(2).jpg" class="activity_carousel"></li>
            <li><img src="images/activity1112/activity1112_02(3).jpg" class="activity_coupon"></li>
        </ul>
    </div>
    <div class="activity_box activity_box_01">
        <img src="images/activity1112/activity1112_03.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="85900" data-goodsno="77770016" data-storeid="1031"><img src="images/activity1112/activity1112_03(1).jpg"></a>
        <a href="javascript:;" data-goodsid="99890" data-goodsno="51000573" data-storeid="1031"><img src="images/activity1112/activity1112_03(2).jpg"></a>
        <a href="javascript:;" data-goodsid="95703" data-goodsno="51000027" data-storeid="1031"><img src="images/activity1112/activity1112_03(3).jpg"></a>
        <a href="javascript:;" data-goodsid="86356" data-goodsno="666666666" data-storeid="1031"><img src="images/activity1112/activity1112_03(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_02">
        <img src="images/activity1112/activity1112_04.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="99907" data-goodsno="51000594" data-storeid="1031"><img src="images/activity1112/activity1112_04(1).jpg"></a>
        <a href="javascript:;" data-goodsid="99927" data-goodsno="51000585" data-storeid="1082"><img src="images/activity1112/activity1112_04(2).jpg"></a>
        <a href="javascript:;" data-goodsid="99929" data-goodsno="51000587" data-storeid="1082"><img src="images/activity1112/activity1112_04(3).jpg"></a>
        <a href="javascript:;" data-goodsid="99900" data-goodsno="51000581" data-storeid="1031"><img src="images/activity1112/activity1112_04(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_03">
        <img src="images/activity1112/activity1112_05.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="99744" data-goodsno="360000681" data-storeid="1082"><img src="images/activity1112/activity1112_05(1).jpg"></a>
        <a href="javascript:;" data-goodsid="86260" data-goodsno="10020085" data-storeid="1031"><img src="images/activity1112/activity1112_05(2).jpg"></a>
        <a href="javascript:;" data-goodsid="86213" data-goodsno="10020129" data-storeid="1031"><img src="images/activity1112/activity1112_05(3).jpg"></a>
        <a href="javascript:;" data-goodsid="86186" data-goodsno="10020114" data-storeid="1031"><img src="images/activity1112/activity1112_05(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_04">
        <img src="images/activity1112/activity1112_06.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="80970" data-goodsno="8021451" data-storeid="0"><img src="images/activity1112/activity1112_06(1).jpg"></a>
        <a href="javascript:;" data-goodsid="93138" data-goodsno="8006472" data-storeid="0"><img src="images/activity1112/activity1112_06(2).jpg"></a>
        <a href="javascript:;" data-goodsid="96520" data-goodsno="8030381" data-storeid="0"><img src="images/activity1112/activity1112_06(3).jpg"></a>
        <a href="javascript:;" data-goodsid="96893" data-goodsno="51000075" data-storeid="1031"><img src="images/activity1112/activity1112_06(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_05">
        <img src="images/activity1112/activity1112_07.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="95251" data-goodsno="30000011" data-storeid="1031"><img src="images/activity1112/activity1112_07(1).jpg"></a>
        <a href="javascript:;" data-goodsid="95252" data-goodsno="30000326" data-storeid="1031"><img src="images/activity1112/activity1112_07(2).jpg"></a>
        <a href="javascript:;" data-goodsid="97289" data-goodsno="320000105" data-storeid="1031"><img src="images/activity1112/activity1112_07(3).jpg"></a>
        <a href="javascript:;" data-goodsid="97370" data-goodsno="8030788" data-storeid="0"><img src="images/activity1112/activity1112_07(4).jpg"></a>
    </div>

    <div class="activity_footer_box">
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1381|1382|1383|1384|1385|1386&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(1).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1436|1437|1438|1439|1440&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(2).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1441|1442|1443|1444|1445|1446&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(3).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1082|1180|967|1093|1097|1132&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(4).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1022|1192|1412|1322|1133|1178&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(5).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1447|1448|1173|1174|1177|1172&pageIndex=1&flag=2"><img src="images/activity1112/activity1112_08(6).jpg"></a>
    </div>

    <div class="foot">
        <span>万人疯抢中，好货手慢无哦！</span>
    </div>

</div>