<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" data-goodsid="86928" data-goodsno="77770209" data-storeid="1031" class="back"></a>
    <h2>年货买点不一“洋”</h2>
</header>

<div class="nwrapper" style="padding-top: .88rem ">
    <img src="images/activity0101/activity0101_01.jpg" class="activity_top">
     <div class="activity_msg">
        <ul>
            <li><img src="images/activity0101/activity0101_02(1).jpg" class="activity_group"></li>
            <li><img src="images/activity0101/activity0101_02(2).jpg" class="activity_carousel"></li>
            <li><img src="images/activity0101/activity0101_02(3).jpg" class="activity_coupon"></li>
        </ul>
    </div>
    <div class="activity_box activity_box_01">
        <img src="images/activity0101/activity0101_03.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="102030" data-goodsno="8033559" data-storeid="0"><img src="images/activity0101/activity0101_03(1).jpg"></a>
        <a href="javascript:;" data-goodsid="95150" data-goodsno="10020340" data-storeid="1031"><img src="images/activity0101/activity0101_03(2).jpg"></a>
        <a href="javascript:;" data-goodsid="98151" data-goodsno="10070049" data-storeid="1031"><img src="images/activity0101/activity0101_03(3).jpg"></a>
        <a href="javascript:;" data-goodsid="101963" data-goodsno="51000832" data-storeid="1031"><img src="images/activity0101/activity0101_03(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_02">
        <img src="images/activity0101/activity0101_04.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="102090" data-goodsno="10100285" data-storeid="1031"><img src="images/activity0101/activity0101_04(1).jpg"></a>
        <a href="javascript:;" data-goodsid="101922" data-goodsno="8033831" data-storeid="0"><img src="images/activity0101/activity0101_04(2).jpg"></a>
        <a href="javascript:;" data-goodsid="102022" data-goodsno="51000835" data-storeid="1031"><img src="images/activity0101/activity0101_04(3).jpg"></a>
        <a href="javascript:;" data-goodsid="98276" data-goodsno="320000121" data-storeid="1031"><img src="images/activity0101/activity0101_04(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_03">
        <img src="images/activity0101/activity0101_05.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="95823" data-goodsno="51000033" data-storeid="1031"><img src="images/activity0101/activity0101_05(1).jpg"></a>
        <a href="javascript:;" data-goodsid="85736" data-goodsno="10010001" data-storeid="1031"><img src="images/activity0101/activity0101_05(2).jpg"></a>
        <a href="javascript:;" data-goodsid="86169" data-goodsno="10020169" data-storeid="1031"><img src="images/activity0101/activity0101_05(3).jpg"></a>
        <a href="javascript:;" data-goodsid="97788" data-goodsno="77770441" data-storeid="1031"><img src="images/activity0101/activity0101_05(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_04">
        <img src="images/activity0101/activity0101_06.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="101284" data-goodsno="380000001" data-storeid="1031"><img src="images/activity0101/activity0101_06(1).jpg"></a>
        <a href="javascript:;" data-goodsid="86253" data-goodsno="10020126" data-storeid="1031"><img src="images/activity0101/activity0101_06(2).jpg"></a>
        <a href="javascript:;" data-goodsid="100057" data-goodsno="10070764" data-storeid="1031"><img src="images/activity0101/activity0101_06(3).jpg"></a>
        <a href="javascript:;" data-goodsid="86078" data-goodsno="10020005" data-storeid="1031"><img src="images/activity0101/activity0101_06(4).jpg"></a>
    </div>

    <div class="activity_box activity_box_05">
        <img src="images/activity0101/activity0101_07.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="96913" data-goodsno="51000185" data-storeid="1082"><img src="images/activity0101/activity0101_07(1).jpg"></a>
        <a href="javascript:;" data-goodsid="99562" data-goodsno="10070006" data-storeid="1031"><img src="images/activity0101/activity0101_07(2).jpg"></a>
        <a href="javascript:;" data-goodsid="86210" data-goodsno="10020117" data-storeid="1031"><img src="images/activity0101/activity0101_07(3).jpg"></a>
        <a href="javascript:;" data-goodsid="86186" data-goodsno="10020114" data-storeid="1031"><img src="images/activity0101/activity0101_07(4).jpg"></a>
    </div>
    
     <div class="activity_box activity_box_06">
        <img src="images/activity0101/activity0101_08.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="101966" data-goodsno="8033750" data-storeid="0"><img src="images/activity0101/activity0101_08(1).jpg"></a>
        <a href="javascript:;" data-goodsid="96893" data-goodsno="51000075" data-storeid="1031"><img src="images/activity0101/activity0101_08(2).jpg"></a>
        <a href="javascript:;" data-goodsid="86292" data-goodsno="10110002" data-storeid="1031"><img src="images/activity0101/activity0101_08(3).jpg"></a>
        <a href="javascript:;" data-goodsid="101732" data-goodsno="210090001" data-storeid="1081"><img src="images/activity0101/activity0101_08(4).jpg"></a>
    </div>
    
     <div class="activity_box activity_box_07">
        <img src="images/activity0101/activity0101_09.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="96528" data-goodsno="210000076" data-storeid="1081"><img src="images/activity0101/activity0101_09(1).jpg"></a>
        <a href="javascript:;" data-goodsid="101967" data-goodsno="340000210" data-storeid="1031"><img src="images/activity0101/activity0101_09(2).jpg"></a>
        <a href="javascript:;" data-goodsid="102028" data-goodsno="51000841" data-storeid="1031"><img src="images/activity0101/activity0101_09(3).jpg"></a>
        <a href="javascript:;" data-goodsid="100368" data-goodsno="310000152" data-storeid="1082"><img src="images/activity0101/activity0101_09(4).jpg"></a>
    </div>
    
     <div class="activity_box activity_box_08">
        <img src="images/activity0101/activity0101_10.jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="97064" data-goodsno="210000220" data-storeid="1081"><img src="images/activity0101/activity0101_10(1).jpg"></a>
        <a href="javascript:;" data-goodsid="97523" data-goodsno="210000361" data-storeid="1081"><img src="images/activity0101/activity0101_10(2).jpg"></a>
        <a href="javascript:;" data-goodsid="102159" data-goodsno="420000334" data-storeid="1151"><img src="images/activity0101/activity0101_10(3).jpg"></a>
        <a href="javascript:;" data-goodsid="98686" data-goodsno="210030127" data-storeid="1081"><img src="images/activity0101/activity0101_10(4).jpg"></a>
    </div>
    
     <div class="foot">
         <a javascript:void(0);><img src="images/activity0101/activity0101_11.jpg"></a>
    </div>
</div>